//Estilização da navbar
.navbar-primary {
	color: $nav-text-color;
	background-color: $background-color;
    border-bottom: 1px solid $border-color;

	a {
		color: @color;
	}
}

.nav-primrary > li > a:hover, 
.nav-primrary > li > a:focus {
	background: rgba(0, 0, 0, .1);
}