.modal {
	.close {
		color: $modal-title-color;
		opacity: 1;
		font-size: 1.5rem; 
	}
}
.modal-header {
	background-color: $modal-header-bg;
}
.modal-title {
	color: $modal-title-color;
}

.centralized-modal.in {
	top: calc(50% - 200px);
}