/**
 * Classes adicionais
 */
 
.-static {
	position: static!important;
}

.fade-animation {
	opacity: 0;
	animation: fadeIn .3s linear forwards;
}

.containeroverflow {
	width: 100%;
	
	@media (max-width: $screen-sm) {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

//Cores
._red{
	color: $red;
}
._green {
	color: $green;
}