/**
 * Estilização dos componentes
 */
 
// Cabeçalho
//@import 'components/header/*';

/// Formulários
@import 'components/forms/*';

/// Body
@import 'components/body/*';

// Rodapé do sistema
//@import 'components/footer/*';