
@{
    Layout = "~/Layouts/_LayoutDefault.cshtml";
    ViewBag.Title = "Home";
}
<div class="col-lg-3 col-xs-12 box">
    <a href="">
        <div class="usuarios">
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <img class="img-responsive hidden-xs" src="/Images/user2.png" alt="">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <p class="text-center labels-usuario">Usuário 1</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Caixinha : R$35,00</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Serviços Realizados : 6</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <button class="btn btn-black"><span class="glyphicon glyphicon-info-sign"></span> Exibir Informações</button>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-xs-12 box">
    <a href="">
        <div class="usuarios">
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <img class="img-responsive hidden-xs" src="/Images/user3.png" alt="">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <p class="text-center labels-usuario">Usuário 2</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Caixinha : R$75,00</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Serviços Realizados : 17</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <button class="btn btn-black"><span class="glyphicon glyphicon-info-sign"></span> Exibir Informações</button>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-xs-12 box">
    <a href="">
        <div class="usuarios">
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <img class="img-responsive hidden-xs" src="/Images/user2.png" alt="">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <p class="text-center labels-usuario">Usuário 3</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Caixinha : R$15,00</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Serviços Realizados : 4</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <button class="btn btn-black"><span class="glyphicon glyphicon-info-sign"></span> Exibir Informações</button>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-xs-12 box">
    <a href="">
        <div class="usuarios">
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <img class="img-responsive hidden-xs" src="/Images/user2.png" alt="">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <p class="text-center labels-usuario">Usuário 3</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Caixinha : R$15,00</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Serviços Realizados : 4</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <button class="btn btn-black"><span class="glyphicon glyphicon-info-sign"></span> Exibir Informações</button>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-xs-12 box">
    <a href="">
        <div class="usuarios">
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <img class="img-responsive hidden-xs" src="/Images/user2.png" alt="">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <p class="text-center labels-usuario">Usuário 3</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Caixinha : R$15,00</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Serviços Realizados : 4</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <button class="btn btn-black"><span class="glyphicon glyphicon-info-sign"></span> Exibir Informações</button>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col-lg-3 col-xs-12 box">
    <a href="">
        <div class="usuarios">
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <img class="img-responsive hidden-xs" src="/Images/user2.png" alt="">
                </div>
                <div class="col-lg-8 col-xs-12">
                    <p class="text-center labels-usuario">Usuário 3</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Caixinha : R$15,00</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <p class="text-center labels-usuario">Serviços Realizados : 4</p>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <button class="btn btn-black"><span class="glyphicon glyphicon-info-sign"></span> Exibir Informações</button>
                </div>
            </div>
        </div>
    </a>
</div>