
@{
    Layout = "~/Layouts/_LayoutDefault.cshtml";
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="row">
    	<div class="col-sm-3">
    		<div class="box-site -small">
    			<h3 class="title-section"><span class="icon-star"></span> Acesso rápido</h3>
    			<ul class="sidebar-nav">
    				<li><a href="#"><span class="icon-doc-text"></span> Nova comanda</a></li>
    				<li><a href="#"><span class="icon-search-1"></span> Consulta de comandas</a></li>
    				<li><a href="#"><span class="icon-user-plus"></span> Cadastrar cliente</a></li>
    				<li><a href="#"><span class="icon-list-add"></span> Cadastrar serviço</a></li>
    			</ul>
    		</div>
    	</div>
    	<div class="col-sm-9">
			<div class="row">
    			<div class="col-sm-6">
    				<div class="box-site -small text-left">
	    				<h1 class="title-section text-left"><span class="icon-group"></span> Clientes</h1>
    				</div>
    			</div>
    			<div class="col-sm-6">
    				<div class="box-site -small text-left">
	    				<h1 class="title-section text-left"><span class="icon-money-1"></span> Caixa</h1>
						<div class="alert alert-info" role="alert">Para registrar comandas, clique no botão abaixo e abra o caixa.</div>
						<button class="btn btn-lg btn-default"><span class="icon-ok"></span> Abrir caixa</button>
    				</div>
	    			<div class="box-site -small text-left">
	    				<h1 class="title-section text-left"><span class="icon-money-1"></span> Caixa</h1>
						<div class="alert alert-info" role="alert">
						Caixa aberto<br>
						<strong>Data:</strong> 12/12/2016 22:00<br>
						<strong>Por:</strong> Carlos Amarildo</div>
						<button class="btn btn-lg btn-danger"><span class="icon-ok"></span> Fechar caixa</button>
    				</div>    				
				</div>
    		</div>
    	</div>
    </div>
</div>