.sidebar-nav {
	a {
		color: #666;
		display: block;
		padding: 10px;
		text-decoration: none;
		transition: .2s all linear;

		&:hover {
			background-color: #3b5998;
			color: #fff;
		}
	}
}