.table-site {
	
	&.-selectable {
		tr:hover,
		tr.js-active {
			cursor: pointer;
			background-color: lighten($background-color, 30%);
			color: #fff;
		}
	}
	
	> thead > tr > th, 
	> tbody > tr > th, 
	> tfoot > tr > th, 
	> thead > tr > td, 
	> tbody > tr > td, 
	> tfoot > tr > td {
		vertical-align: middle;
	}

	.input {
		width: auto;
		height: 28px;
	}
}