/**
* Definição de cores
*/
$body-color = #e9ebee;
$title-color = #4b4f56;
$content-color = #666;
$link-color = #3a7fb8;
$background-color = #3b5998;
$border-color = #29487d;

$danger-color = #bf3729;
$alert-color = #f0c40d;
$success-color = #24ae60;

//Navigation colors
$nav-text-color = #fff;

//Box site colors
$box-background = #fff;

//Botões
$btn-default-bg = $background-color;
$btn-default-color = #fff;
$btn-default-border = $border-color;

$btn-top-bg = #2f477a;
$btn-top-color = #fff;
$btn-top-border = #29487d;

//Separator
$separator-border-color = #dddfe2;