/**
* Definição dos pontos de interrupção do grid do bootstrap
*/

// para media querie com max-width
$screen-lg = 1334px;
$screen-md = 1151px;
$screen-sm = 767px;
$screen-xs = 479px;

// para media querie com min-width
$screen-lg-min = ($screen-lg + 1);
$screen-md-min = ($screen-md + 1);
$screen-sm-min = ($screen-sm + 1);
$screen-xs-min = ($screen-xs + 1);