/**
* Definição de tamanhos
*/

$form-group-bottom = 1.25rem;

//Text group
$text-group-bottom = $form-group-bottom;
$text-group-left = $text-group-bottom;
$text-group-right = $text-group-bottom;

//Separator
$separator-margin-top = 20px;
$separator-margin-bottom = 30px;